.classpath
.idea/*
.project
.settings/*
target/
*.iml
**/*.iml
/build/
/src/main/resources/config/application.properties
out.txt
*.lck
*.log
bancard_dev.properties
*.script
*.out
package.sh
.springBeans
scripts/
